<p id="notice"><%= notice %></p>


<div class="post">
  <h2><%= @post.title %></h2>
  <div>
    <%= render :inline => @post.content %>
  </div>
</div>
 
<h2>Comments:</h2>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Back to Posts', posts_path %>
